<div id="<%= dom_id part %>">
  <p>
    <strong>Tytuł:</strong>
    <%= part.title %>
  </p>

  <p>
    <strong>Sku:</strong>
    <%= part.sku %>
  </p>

  <p>
    <strong>Opis:</strong>
    <%= part.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= part.status %>
  </p>

  <p>
    <strong>Kategoria:</strong>
    <%= part.category_id %>
  </p>

</div>
